html {
  display: block;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
/** header of the page**/
header {
  height: 100px;
  background: #CC8800;
  opacity: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}
header ul li a {
  padding: 0 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.bookappt-btn {
  padding: 3px;
  border-radius: 2px;
  color: #CC8800;
  background-color: white;
  justify-content: center;
  align-items: center;
}
/** hero **/

.hero {
  display: flex;
  background-size: cover;
}

.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

/**Intro**/
.intro {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 90vh;
  background-repeat: no-repeat;
  background-image: url(images/background.png);
}

.grid {
  display: grid;
  width: 50em;
  height: 70em;
  align-items: center;
  margin-left: 11%;
 
}
.grid-item {
  background-color: #7A5409;
  border-radius: 0.4rem;
  overflow: hidden;
  
  cursor: pointer;
}

.card-content {
  padding: 3rem;
}

.card-content h3{
  display: block;
  font-size: 2em;
}

.card-content p{
  display: block;
  font-size: 2em;
}
.intro h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 10%;
}

.grid-item a {
  display: block;
  background: #473C1F;
  border-radius: 5px;
  width: 100%
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

/** footer **/
footer {
  display: block;
  padding: 20px;
  background-image: url(images/footer.png);
  background-repeat: no-repeat;
  height: auto;
  color: #cc8800;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h1 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 3rem;
}

.footer-content h3{
  margin-top: 5px;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.contactus{
  display: flex;
  flex-direction: column;
  background: #535350;
  opacity: 80%;
  border-radius: 6px;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 60%;
  line-height: normal;
}

.contactus h3{
  font-size: 2rem;
  color: #fff;
  padding: 15px;
  text-align: center;
  text-decoration: underline;
  
}

.tele img{
  width: 1.5px;
}

.tele a{
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  padding: 20px;
}

.mailid img{
  width: 0.5px;
}
.mailid a{
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  padding: 20px;
}

.workinghours a{
  display: block;
  text-align: left;
  font-size: 1.5rem;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.footer-content img{
  width: 50px;
}

/** footer bottom**/
.footer-bottom {
  display: block;
  background: #3b3a37;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  color: #cc8800;
  font-size: 16px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cc8800;
  font-size: 16px;
  text-decoration: none;
}

/*** ABOUT ***/
.about {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  background: #754f1a;
}

.about h2 {
  display: block;
  text-align: left;
  padding: 15px;
  color: #27271f;
  font-size: 4rem;
}




.felice {
  display: block;
  box-sizing: content-box;
  background: silver;
  border-radius: 10px;
}

.felice img {
  display: block;
  align-content: center;
  width: 30%;
  height: 15%;
}

.about h3 {
  display: block;
  text-align: left;
  padding: 15px;
  color: #27271f;
  font-size: 2.5rem;
  text-align: center;
}

.about .desc h3 {
  text-align: left;
}

.about p {
  display: block;
  text-align: left;
  padding: 15px;
  color: #27271f;
  font-size: 2.5rem;
  text-align: left;
}

.cassie {
  display: block;
  box-sizing: content-box;
  background: silver;
  border-radius: 10px;
}

.cassie img {
  display: block;
  align-content: center;
  width: 30%;
  height: 15%;
}

/*** SERVICES ***/
.services {
  display: block;
  background-image: url(images/bookaptbg.png);
  background-size: cover;
  padding: 20px;
}

.services h2 {
  display: block;
  font-size: 4rem;
  padding: 20px;
}

.services ul li a {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  color: #cc8800;
  text-decoration: none;
  list-style-type: square;
  list-style: ;
  line-height: 2vh;
}

/*** CONTACT US ***/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #7A5409;
}

.contact h2 {
  font-size: 4rem;
  font-weight: bold;
}

.contact h4 {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 2px;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form h3{
  font-size: 1.8rem;
  text-align: center;
}

.form h5{
  text-align: center;
  font-size: 1rem;
}

/* Styling form-control Class */
.form-control {
  text-align: left;
  margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-control input,
      select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

/*** BOOK APPOINMENT ***/
.book {
  display: flex;
  background-image: url(images/bookaptbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 97px;
  padding-bottom: 30px;
  padding-left: 97px;
}

.book h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: white;
}

.book .bookappt-btn {
  padding: 7px;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: #cc8800;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.book .data {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 30px;
  border-radius: 5px;
  background: #cc8800;
  opacity: 70%;
  line-height: 200%;
}

.data label {
  font-size: 1.5rem;
  text-align: left;
}

.data input {
  width: 100px;
}
